@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
}

.qrCode {
    background-color: white;
    border-radius: 15px;

    max-width: 15%;
    margin: 0 auto; 
    margin-top: 5%;
    text-align: center; 
}

.qrCode img {
    max-width: 90%; 

    margin: 5%;
    
    border-radius: 15px;
}

.qrCode h1 {
    font-style: bold;
    max-width: 100%; 

    margin: 0% 5% 5% 5%;
}

.qrCode p {
    max-width: 100%; 
    margin: 0% 5% 0% 5%;

    color: hsl(220, 15%, 55%)
}
